*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: thin;
}

a{text-decoration: none;}

p{
    line-height: 30px;
}

body{
    background-color: #f5f5f5;
}


/* CONTAINER */

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
    "nav nav nav nav nav"
    "dashboard main main main sidemenu"
    "footer footer footer footer sidemenu";
    height: 100vh;
    width: 100%;
}


/* NAV */

nav{
    grid-area: nav;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
}

nav h1{
    display: flex;
    margin: 0 20px;
    font-size: 36px;
    background: linear-gradient(to right, blue, darkblue, orangered);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-nav{
    display: flex;
    width: fit-content;
    border: 1.5px solid rgb(32, 62, 214);
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
    align-items: center;
}

.search-nav form{
    width: 100%;
    height: 100%;
    display: flex;
}

.search-nav input{
    border: none;
    outline: none;
    max-width: 250px;
    padding: 0 20px;
    overflow: hidden;
}

.search-icon{
    display: flex;
    padding: 0 4px;
    background-color: rgb(32, 62, 214);
}

.search-icon box-icon{
    fill: white;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav li{
    margin: 0 20px;
}


nav li a{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    column-gap: 8px;
    padding: 8px 16px;
    border-radius: 50px;
    color: rgb(32, 62, 214);
    fill: rgb(32, 62, 214);
    font-size: 18px;
    font-weight: 500;
    transition: 1s;
}

nav li a:hover{
    background-color: rgb(32, 62, 214);
    color: white;
    fill: white;
}

.active,
nav li a:hover,
.dashboard li a:hover{
    background-color: rgb(32, 62, 214);
    color: white;
    fill: white;
}



/* DASHBOARD */

.dashboard{
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.76);
    width: fit-content;
}

.search-dash{
    display: flex;
    width: 80%;
    border: 1.5px solid #a1a1a1;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    align-items: center;
}

.search-dash form{
    width: 100%;
    height: 100%;
    display: flex;
}

.search-dash input{
    border: none;
    outline: none;
    max-width: 85%;
    padding: 0 10px;
    overflow: hidden;
}

.search-dash .search-icon{
    display: flex;
    padding: 2px;
    background-color: #f5f5f5;
}

.search-dash .search-icon box-icon{
    fill: grey;
}

.dashboard ul{
    list-style: none;
}

.dashboard li{
    width: 100%;
    height: fit-content;
    margin: 10px 0;
}

.dashboard li a{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 16px;
    border-radius: 0 8px 8px 0;
    color: rgb(32, 62, 214);
    fill: rgb(32, 62, 214);
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
    column-gap: 20px;
}


/* MAIN */

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

/* SIDEMENU */

.sidemenu{
    grid-area: sidemenu;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: center;
    padding: 20px 0;

}

.userprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-align: center;
    padding: 0 20px;
}

.userimg{
    clip-path: circle();
    overflow: hidden;
    object-fit: cover;
}

.status{
    display: flex;
    align-items: center;
    font-size: 12px;
    column-gap: 8px;
    flex-wrap: nowrap;
}

.status span{
    content: '';
    width: 8px;
    height: 8px;
    clip-path: circle();
    background: green;
}

.status p{
    padding-bottom: 2px;
}


/* FOOTER */

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}

